/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@700&display=swap");

* {
  margin: 0;
}

body {
  background-color: #ebebeb;
  font-family: "Karla", Helvetica, sans-serif;
  font-size: 1.2em;
}

#content {
  margin: auto;
  background-color: #fff;
}

.logo-box img {
  width: 125px;
  padding: 15px;
}

.logo-box h2 {
  padding: 20px 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", serif;
  margin: 0;
  color: #ff521b;
}

h1 {
  font-size: 3em;
}

h2 {
  align-self: center;
  font-size: 2em;
}

header {
  display: grid;
  grid-template-columns: 150px 1fr;
}

nav {
  justify-self: center;
  padding-bottom: 10px;
  grid-column: 1/-1;
  width: 100%;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu li:first-child {
  display: block 
}

.menu li {
  display: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.2em;
  color: #2d2d2a;
  margin: auto;
}

.menu a:hover {
  color: #ff521b;
}

.responsive li {
  display: block;
}

.collapse li {
  display: block;
}

.active {
  color: #ff521b !important;
  text-decoration: underline!important;
}

.action {
  margin: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 20px #ccc;
}

.button, .reserve, .rent {
  display: block;
  background-color: #ff521b;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  margin: 10px auto;
  border: 0;
  font-size: 1em;
}

.reserve, #submit {
  width: 350px;
}

.button:hover, .reserve:hover, .rent:hover {
  background-color: #eb3900;
}

.content-grid {
  display: block;
}

.rentals {
  display: block;
  text-align: center;
}

.main-content {
  text-align: center;
  margin: 15px auto;
  padding: 5px 0;
  box-shadow: 0 5px 20px #ccc;
}

.categories {
  display: block;
  margin: 10px 0;
  box-shadow: 0 0px 15px #ccc;
}

.mediaCard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 30px auto;
  box-shadow: 0 0px 20px #ccc;
}

.mediaCard img {
  margin: auto;
}

.mediaCard p {
  padding: 5px 10px;
}

.comments {
  list-style-type: none;
  padding: 0;
}

.reserve {
  margin: 10px auto;
}

.popular, .bestValue {
  position: absolute;
  width: 150px;
  padding: 5px;
  left: 0;
  top: 20px;
  opacity: 0.7;
  color: #fff;
  box-shadow: 3px 5px 10px #000;
}

.popular {
  background: red;
}

.bestValue {
  background-color: blue;
}

table {
  width: 380px;
  margin: auto;
}

td {
  width: 25%;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

.sidebar {
  display: block;
  margin: 20px 0;
}

.contact {
  text-align: center;;
}

#comment {
  height: 150px;
}

#submitSidebar {
  margin-top: 130px;
  width: 400px;
}

.weather {
  box-shadow: 0 5px 20px #ccc;
  max-height: 380px;
  padding-top: 10px;
}

.weather ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.summary h3 {
  text-decoration: underline;
}

.summary h3, .icon, .description {
  grid-column: 1/3;
  text-align: center;
  justify-self: center;
}

.labels, .values {
  list-style-type: none;
  padding: 5px 10px;
  margin: 0;
}
.labels {
  grid-column: 1/2;
  justify-self: right;
  text-align: right;
}
.values {
  grid-column: 2/3;
  justify-self: left;
  text-align: left;
}

.five-days {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #000;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.weekday {
  background: #ff521b;
  color: #fff;
  padding: 8.5px 0;
  width: 33%;
}

.five-days img {
  width: 40px;
  justify-self: center;
}

.curTemp {
  padding: 0 30px 0 0;
}

.contactInfo {
  padding: 20px 10px;
  margin: 30px 0;
  box-shadow: 0 5px 20px #ccc;
  text-align: center;
  height: 150px;
}

.social {
  display: flex;
  margin: 10px auto;
  max-width: 80%;
  min-width: 400px;
  justify-content: space-around;
}

.social img {
  background: #ccc;
  margin: 0 5px;
  box-shadow: 0 2px 10px #ccc;
}

.fb:hover {
  background: #1877F2;
  box-shadow: 0 2px 10px #1877F2;
}

.tw:hover {
  background: #1D9BF0;
  box-shadow: 0 2px 10px #1D9BF0;
}

.yt:hover {
  background: #FF0000;
  box-shadow: 0 2px 10px #FF0000;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  margin: 10px auto;
  height: 40px;
  align-items: stretch;
}

.flex-outer > li > label {
  flex: 0 0 120px;
  max-width: 220px;
  align-self: center;

}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.disclaimer {
  text-align: center;
  margin: 10px;
}

.thanks {
  display: grid;
  grid-template-rows: 1fr 6fr 0.5fr;
  align-items: center;
}

.message {
  padding: 6em 0;
  width: 90%;
}

form {
  box-shadow: 0 5px 20px #ccc;
  padding: 20px;
}

.terms {
  margin: 15px auto;
  box-shadow: 0 0px 20px #ccc;
  padding: 20px;
}

.terms ol {
  text-align: left;
  max-width: 700px;
  margin: auto;
}

.terms ol li {
  padding: 10px;
}

#notes {
  min-height: 40px;
  max-height: 65px
}

footer {
  background-color: #ebebeb;
  padding: 10px;
  text-align: center;
}

.map iframe {
  width: 95%;
  padding: 10px;
}

.map p {
  margin: 10px;
  padding: 10px;
}
